*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,#f6d365,#fda085);
    color: white;
    font-family: 'Poppins',sans-serif;
}
header{
    font-size: 1.5rem;
}
header,
.formdiv{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    background-color: white;
    border: none;
    outline: 0;
}
form button{
    color:#d88771;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: white;
}

.text
{
    margin: 2rem 0;
}
textarea{
    height: 4em;
    width: 34em;
}
.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}
.todo li
{
    flex: 1;
    padding:0 0.5rem;
    margin-right: 1.5rem;
}
.trash-btn,
.complete-btn
{
    background: #ee3e0e;
    color: white;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn
{
    background: rgb(73,204,73);
}
.fa-trash,
.fa-circle-check
{
    pointer-events: none;
}
.fall
{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.completed
{
    text-decoration: line-through;
    opacity: 0.5;
}
select
{
    flex: 1;
    -webkit-appearance:none;
    -moz-appearance: none;
    outline: none;
    border: none;
    appearance: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select
{
    display: flex;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.4s ease;
}
.select:hover::after
{
    background: white;
    color: #ff6f47;
}
















